body{
    background-color: hsl(269, 73%, 34%);
    width: 100vw;
    height: 100vh;
    margin: 0;
}
header{

    background-color: hsl(269, 84%, 17%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
}
section{
    display: flex;
    background-color: rgb(159, 142, 255);
}

#formula{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 15vh;
    padding: 20px;
}

#userInput {
    padding: 20px;
    width: 50vw;
    height: 15vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input{
    width: 100px;
    margin: 10px;
}
input[type="range"]{
    width: 400px;
}
